@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Allan Gay</h1>
    <p>Aprende acerca de <a href="https://docs.microsoft.com/aspnet/core">Github e implementacion continua </a>.</p>
</div>
